@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* modern theme */
@font-face {
	font-family: 'Quicksand';
	/* src: url('/build/fonts/Quicksand.ttf'); */
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}
